*{
    margin:0; 
    padding:0;
}

header, main, footer, nav, section{
    display: block;
}

a{
    text-decoration: none;
}

a:hover{
    color:#808080;
}

.selected{
    font-weight: bold;
}

header{
    width: 100%;
    height: 151px;
    background-color: #ED4C5C;
}

#logo{
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    display:block;

    position: absolute;
    width: auto;
    height: 29px;
    left: 51px;
    top: 55px;
}

#logo span{
    height: 22px;
    width:auto;
    margin-left:34.55px;

    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;

    color: #FFFFFF;
}

#mainNav{
    position: absolute;
    width: 445px;
    height: 22px;
    left: 50px;
    top: 129px;

    font-family: Lato, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
     
    text-transform: uppercase;
}

#mainNav a{
    margin-right:10px;
    color:#FFFFFF;
}

.header{
    height:506px;
    width:100%;

    background-color: #ED4C5C;
}

.header img{
    position: absolute;
    width: 445px;
    height: 311px;
    left: 90px;
    top: 196px;

    border-radius: 15px;
}

.header button{
    position: absolute;
    width: 160px;
    height: 50px;
    left: 51px;
    top: 552px;

    background: #FFFFFF;
    border-radius: 6px;
    border:0;

    color:#ED4C5C;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

