*{
    margin:0; 
    padding:0;
}

header, main, footer, nav, section{
    display: block;
}

a{
    text-decoration: none;
}

.selected{
    font-weight: bold;
}

/**********Header section**********/
header{
    width: 100%;
    height: 151px;
    background-color: #ED4C5C;
}

#logo{
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    display:block;

    position: absolute;
    width: auto;
    height: 29px;
    left: 51px;
    top: 55px;
}

#logo span{
    height: 22px;
    width:auto;
    margin-left:34.55px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;

    color: #FFFFFF;
}

#mainNav{
    position: absolute;
    width: 445px;
    height: 22px;
    left: 50px;
    top: 129px;

    font-family: Lato;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
     
    text-transform: uppercase;
}

#mainNav a{
    margin-right:10px;
    color:#FFFFFF;
}

#mainNav a:hover{
    color:#A9A9A9;
}

.header{
    height:506px;
    width:100%;

    background-color: #ED4C5C;
}

.header img{
    position: absolute;
    width: 445px;
    height: 311px;
    left: 90px;
    top: 196px;

    border-radius: 15px;
}

.header button{
    position: absolute;
    width: 160px;
    height: 50px;
    left: 51px;
    top: 552px;

    background: #FFFFFF;
    border-radius: 6px;
    border:0;

    color:#ED4C5C;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    text-transform: uppercase;
    cursor:pointer;
}

/**********Overview section**********/
.overview{
    position: absolute;
    width: 1440px;
    height: 657px;
    left: 0px;
    top: 657px;

    background: #FFFFFF;
}

.overview .text{
    width: 445px;
    height: 248.28px;
    margin-left: 56px;
    margin-top: 50px;
    padding:0;
}

.overview .text h2{
    width: 445px;
    height: auto;

    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;

    color: #000000;
}

.overview .text p{
    width: 445px;
    height: 83px;
    margin-top:30px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
}

.overview .text a{
    width: 71px;
    height: 26.28px;
    margin-top:20px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;

    text-align: justify;

    color: #ED4C5C;
}

.overview .images{
    position:absolute;
    top:345px;
    left:50px;
    width: 1110px;
    height: 249px;

    display:flex;
}

.overview span{
    width: 350px;
    height: 249px;
    margin-right:30px;
}


.overview span img{
    width: 350px;
    height: 248.86px;
    border-radius: 8px;
}

.overview .rectangle{
    position:absolute;
    top:209px;
    width: 350px;
    height: 40px;

    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.overview span a{
    position:absolute;
    margin-left:60px;
    margin-right:61px;
    text-align:center;
    bottom:0;
    width: 229px;
    height: 27px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    color: #ED4C5C;
}

/**********Materials section**********/
.materials{
    position: absolute;
    width: 1440px;
    height: 657px;
    left: 0px;
    top: 1314px;

    background:#FFFFFF;
}

.materials h2{
    position: absolute;
    width: 300px;
    height: 47px;
    left: 50px;
    top: 57px;

    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;

    color: #000000;
}

.materials .images{
    position: absolute;
    width: 1110px;
    height: 226px;
    left: 50px;
    top: 160px;

    display: flex;
}

.materials .images a{
    width: 255px;
    height: 226px;
    margin-right:30px;
    text-align:center;
}

.materials .images a h3{
    width: auto;
    height: 22px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #101010;
}

.materials .images a p{  
    width: 191px;
    height: 51px;
    margin-top: 10px;
    margin-left: 34px;
    margin-right: 30px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #000000;
}

/**********Footer section**********/
footer{
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 1971px;

    background: #ED4C5C;
}

#socialNav{
    position: absolute;
    width: auto;
    height: 32px;
    left: 50px;
    top: 29px;
}

#socialNav a{
    width: 32px;
    height: 32px;
    margin-right:25px;
}

footer span{
    position: absolute;
    width: auto;
    height: 28px;
    left: 264px;
    top: 29px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}